.highlight{
    
}
h2{
    color: green;
}
#profile{
    border: solid;
    border-color: yellow;
}
nav {background-color: darkblue;text-align: center;}
nav a {color: gold;}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}